header {
  height: 100dvh;
}
header .carousel-item {
  height: 100%;
  overflow: hidden;
}
header .carousel-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.album {
  font-family: "Ubuntu", sans-serif;
  background-color: rgba(0, 0, 0, 0.945);
  color: white;
}
section.album .container {
  padding: 5rem 0;
}
section.album .container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
section.album .container .row {
  margin: 0 auto;
}
section.album .container .row .box {
  overflow: hidden;
  background-color: white;
  width: 200px;
  margin: 0 auto;
}
section.album .container .row .box .holder {
  border: 5px solid rgb(94, 92, 92);
  overflow: hidden;
}
section.album .container .row .box .holder:hover img {
  transform: scale(110%);
}
section.album .container .row .box .holder img {
  transition: 0.8s;
}

section.banner {
  height: 40vh;
  background-image: url(./asset/images/bottombanner.png);
  background-color:red;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.members {
  background-color: rgb(27, 26, 26);
}
section.members .container {
  padding: 5rem 0;
}
section.members .container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
section.members .container .row {
  margin: 0;
}
section.members .container .row .col {
  display: flex;
  justify-content: center;
}
section.members .container .row .col img {
  width: 150px;
  height: 150px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  display: block;
}
