section.banner {
  height: 40vh;
  background-image: url(../../images/albumbanner.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.album {
  font-family: "Ubuntu", sans-serif;
  background-color: rgba(0, 0, 0, 0.945);
  color: white;
}
section.album .container {
  padding: 5rem 0;
}
section.album .container h1 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 500;
}
section.album .container .row {
  gap: 3rem;
}
section.album .container .row .col .box {
  margin: 0 auto;
  width: 250px;
  height: 410px;
  outline: 5px solid rgba(255, 255, 255, 0.192);
}
section.album .container .row .col .box .image {
  margin: 0 auto;
  overflow: hidden;
}
section.album .container .row .col .box .image:hover img {
  transform: scale(110%);
  transition: 0.8s;
}
section.album .container .row .col .box .image img {
  width: 100%;
  height: 350;
  -o-object-fit: cover;
     object-fit: cover;
}
section.album .container .row .col .box .text {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: black;
  box-shadow: 0px 2px 100px white;
}
